# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo & Builds
.expo/
dist/
web-build/
expo-env.d.ts
tmp/
*.log
*.tmp

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
/credentials.json
/ios
/android

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS & Editors
.DS_Store
*.pem
.vscode/
.claude/
.idea/

# local env files
.env
.env*.local
.env.production
.env.staging

# typescript
*.tsbuildinfo

example

